html,body,section,div,header,a,h1,h2,h3,h4{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;900&display=swap'); */
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto', sans-serif;
 }

 /* Font-family declaration... */
 .roboto-slab{
  font-family: 'Roboto Slab', serif;
 }
 .roboto{
  font-family: 'Roboto', sans-serif;
 }
 .header-font{
  font-family: 'UnifrakturCook', cursive;
 }
/* End of Font-family declaration */

/* Main Header section */
 header{
  width: 100%;
  min-height: 70px;
  background-color: rgba(0,0,0,.6);
  color: white;
  position: fixed;
  top:0;
  left:0;
  /* flex */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

header h1{
  /* @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap'); */
  /* font-family: 'UnifrakturCook', cursive; */
  font-size: 3rem;
}

header nav a, header a{
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

header nav a:hover{  
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgb(201, 129, 129);
}

/* End of Main header section */

/* atf section */
#atf{
  min-height: 100vh;
  background-color: darkgray;
  background-image: url('img/atf-900.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5px;
  /* layout */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.atf-content{
  /* margin-top: 10%; */
  /* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.atf-content #title{
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Alfa Slab One', cursive;
  font-size: 2rem;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
}

.atf-content p{
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 1rem;
}

/* end of atf section */

/* about fela section */
#about-fela{
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('img/fela16.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5px;
  padding-top: 83px;
}

#about-fela h2{
  background-color: rgba(0,0,0,.6);
  font-size: 3rem;
  text-align: center;
}

.p-section{
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

.p-section::first-letter{
  font-size: 3rem;
}

#main{
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(0,0,0,.6);
}

#main h3{
  text-align: center;
  font-size: 2rem;
}

#tribute-info #container{
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
#tribute-info h3{
  text-decoration: underline;
}

#img-div{
  border: thin #c0c0c0 solid;
  max-width: 325px;
  max-height: 325px;
  margin: 0 auto;
}

#img-div #image{
  display: block;
  max-width: 200px;
  max-height: 200px;
}

#img-caption{
  background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    margin: 0;
    text-align: center;
}

#timeline{
  margin-top: 20px;
}
#timeline h3{
  text-decoration: underline;
}



#timeline ul li{
  padding: 10px;
  font-size: 1.2rem;
  margin: 15px 0;
}
/* end of about fela */


/* Kalakuta Wall: Gallery and Quotes */
#kalakuta-wall{
  min-height: 100vh;
  background-color: darkgray;
  background-image: url('img/fela10.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#kalakuta-wall h2{
background-color: rgba(0, 0, 0, 0.8);
font-size: 3rem;
text-align: center;
padding-top: 5.6rem;
}

.quote-section{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

blockquote{
  width: 70%;
  font-size: 2rem;
  margin: 15px auto;
  padding: 15px;
  /* border: 2px solid yellow; */
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* end of kalakuta wall */

/* footer */
footer{
  width: 100%;
  height: 150px;
  background-color: darkslategray;
}

footer h4{
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
}

footer a{
  text-decoration: none;
}
footer a img{
  width: 46px;
  height: 46px;
  padding:0 5px;
}

footer a:hover{
  width: 47px;
  height: 47px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#footer{
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
}
