#atf{
    background-image: url('img/atf-1200.jpg');

}


.atf-content{
    margin-top: 10%;
    border: 2px solid hotpink;
    background-color: rgba(0,0,0,0.8);
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; */
    padding-top: 70px;
  }

.atf-content #title{
    font-size: 70px;
  }
  
  .atf-content p{
    font-size: 2rem;
  }

  header{ 
    min-height: 90px;
}
  
  header h1{
    font-size: 4rem;
  }
  
  /* about-fela */
  #about-fela{
    padding-top: 105px;


  }

  #about-fela h2{
    font-size: 5rem;
  }

  #main{
    max-width: 960px;
    margin: 10px auto;
    background-color: rgba(0,0,0,.6);
  }

  /* #tribute-info #container{
    margin-top: 10px;
    display: flex;
    flex-flow: row;
  } */
  #tribute-info #container{
    /* margin-top: 10px; */
    display: flex;
    flex-flow: column;
    
  }
  #img-div{
    /* margin: 20px; */
    margin: 0 auto;
}